.list_container{
    width: 800px;
    height: 60vh;    
    background-color: #f1f4f6;    
    border: 2px solid #24292f;     
    overflow-y: auto;
    list-style-type: none;  
    border-radius: 30px;
    padding: 19px;  
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;  
    align-content: flex-start;
    justify-content: flex-start; 
}
.todo_items{
    padding: 20px;  
    margin: 10px;  
    width: 350px;
    border: 3px solid rgba(36, 41, 47, 0.8);
    border-radius: 20px;    
    height: 26.1vh;
    background-color:rgba(36, 41, 47, 0.2);
    position: relative;
    display: flex;    
    flex-direction: column;
    row-gap: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px
}
.todo_items::after{
    content: '\f00d';    
    position: absolute;
    top: 12px;
    right: 20px;  
    font-family: FontAwesome;
    font-size: 20px; 
    color:rgba(36, 41, 47);
    
}
.delete{
    width: 12px;
    height: 15px;  
    position: absolute;
    top: 13px;
    right: 10px;
}
.close{
    width: 15px;
    height: 20px;    
    margin-left: auto;    
    z-index: 10;

}
.title{
    font-size: 24px;    
}
.body{    
    height: 100%;
    overflow-y: auto;
}
.dateAndComplete{
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    height: 35px;
    justify-content: flex-start;
    align-items: center;
    
}
.time_box{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: flex-start;
}
.complete_btn{
    background-color:rgba(36, 41, 47); 
    border: 2px solid rgba(36, 41, 47);   
    color: #dde3e9; 
    height: 100%;
    width: 40%;    
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;  
    text-align: center;  
    border-radius: 20px; 
    padding: 5px;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
    margin-left: auto;    
}
.complete_btn:hover{
    background-color:#dde3e9; 
    border: 2px solid rgba(36, 41, 47);    
    color:rgba(36, 41, 47); 
    transition: all ease-in-out 0.4s;
}
.todo_complete{
    background-color: lawngreen;
}
.active_item{
    background-color: rgba(252, 0, 67, 0.3)
}
.hide_element{
    display: none;
} 